html
{
    background-color: #222222;
    color: #d1d1d1;
    text-decoration: none;
}

body
{
    margin: 0px;
}

*
{
    box-sizing: border-box;
}

#container
{
    width: 100%;
    height: 100%;
}

#uprightbar
{
    background-color: #111111;
    width: 100%;
    padding: 10px;
    border-radius: 3px 3px 3px 0;
    font-size: 30px;
    float: left;
}

.social
{
    text-decoration: none;
    color: #d1d1d1;
}

#socials
{
    display: flex;
    justify-content: space-around;
}

#logo
{
    width: auto;
    height: auto;
    float: left;
    padding: 5px;
}

#content
{
    float: left;
    width: 70vw;
    height: 100%;
    padding: 15px;
    border-radius: 5px;
    background-color: #292929;
    margin: 15px;
}

#leftsidebar
{
    background-color: #111111;
    height: 100%;
    width: 20vw;
    float: left;
    color: #d1d1d1;
    font-size: 3vw;
    border-radius: 0 0 5px 5px;
    padding-bottom: 20px;
}

.postpic
{
    width: 50%;
    border-radius: 3px;
}

ul
{
    margin: 10px;
    padding: 5px;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
